<div class="container">
  <form [formGroup]="form">
    <div class="row">
      <app-holiday-field-group formControlName="workyearStart" title="Arbetsårets start" class="col-md-3"></app-holiday-field-group>
      <app-holiday-field-group formControlName="autumnSeasonEnd" title="Höstterminens första dag" class="col-md-3"></app-holiday-field-group>
      <app-holiday-field-group formControlName="springSeasonStart" title="Vårterminens första dag" class="col-md-3"></app-holiday-field-group>
      <app-holiday-field-group formControlName="workyearEnd" title="Arbetsårets slut" class="col-md-3"></app-holiday-field-group>
      <app-holiday-field-group formControlName="sportBreakStart" title="Sportlovets första dag" class="col-md-3"></app-holiday-field-group>
      <app-holiday-field-group formControlName="sportBreakEnd" title="Sportlovets sista dag" class="col-md-3"></app-holiday-field-group>
      <app-holiday-field-group formControlName="easterBreakStart" title="Påsklovets första dag" class="col-md-3"></app-holiday-field-group>
      <app-holiday-field-group formControlName="easterBreakEnd" title="Påsklovets sista dag" class="col-md-3"></app-holiday-field-group>
      <ng-container formArrayName="otherHolidays">
        <ng-container *ngFor="let control of otherHolidays.controls; let i = index">
          <app-holiday-field-group [formControlName]="i" title="Övrig lovdag" class="col-md-3"></app-holiday-field-group>
        </ng-container>
      </ng-container>
    </div>
  </form>

  <button class="btn btn-primary" (click)="update()">Update</button>

  <div class="alert alert-danger" *ngIf="form.errors">
    <pre>{{form.errors | json}}</pre>
  </div>

  <div class="alert alert-warning" *ngIf="warnings">
    <pre>{{warnings | json}}</pre>
  </div>
</div>

