<div class="form-group">
  <label for="">{{title}}</label>
  <input [formControl]="control" type="text" class="form-control" (blur)="touched()">
  <div *ngIf="ngControl.control.hasError('required') && ngControl.control.touched">Obligatoriskt</div>
  <div *ngIf="ngControl.control.hasError('minDate') && ngControl.control.touched">Min datum</div>
</div>
